*{
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;    
}

h1{
    margin-top: 25px;
    margin-left: 10px;
    width: 15%;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.area-input{
    width: 50%;
    height: 80vh;
    margin: 30px;
    text-align:center;
    background: #F3F5FC;
    display: flex;
    flex-direction: column;
    position: relative;

    justify-content: center;
    align-items: center;
}


.textarea-input{
    width: 80%;
    height: 100%; /*70vh;*/
    margin: 20px 0;
    padding: 12px 20px;
    background: #F3F5FC;
    border: none;
    resize: none;
    text-transform: lowercase;
}

h6 img{
    width: 12px;
}


::placeholder {color: #0A3871; }
.textarea-input{
    outline: none;
}

.mensaje-requisitos{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;    
    color: #495057;
    height: 25px;
    margin: 5px;

    /* position: absolute;
    left: 110px;       */

}

.botones{
    display: flex;
    justify-content: center;
    margin: 0 10px 25px 10px;
    padding: 0 10px;
    width: 100%;
    
    /* position: absolute;
    bottom: 40px; */
}

.boton{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    background-color: #D8DFE8;
    width: 250px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 0 20px;
    cursor: pointer;
}

#boton-Encriptar{
    color: #FFFFFF;
    background-color: #0A3871;
}

.area-resultado{
    width: 35%;
    height: 80vh;
    margin: 30px 30px;
    background: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* position: relative; */
}

.area-encriptado-elementos img{
    margin: 20px 0;
    width: 60%;
    background: #ffffff;
}

.area-encriptado-elementos{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    height: 100%;
    background: #ffffff;
    border-radius: 32px;
    padding: 10px;
}

.texto-estado{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    width: 75%;
    margin: 5px;
    color:#343A40;
    background: #ffffff;
    padding: 5px;    
}

.texto-indicacion{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 80%;
    margin: 5px;
    color:#495057;
    background: #ffffff;
    padding: 5px;
}

#textarea-encriptado{
    font-size: 24px;
    line-height: 36px;
    width: 75%;
    height: 100%; /*70%; */
    display: none;
    padding: 12px 20px;
    margin: 20px 20px;    
    background: #ffffff;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    resize: none;
    outline: none;
}

#textarea-encriptado:focus{
    outline: none;
}


.boton-copiar{
    display: none;
    justify-content: center;
    width: 350px;
    background: #ffffff;
    margin: 25px 0;
        
    /* position: absolute;
    bottom: 40px;     */
}


.pie-pagina{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;    

    padding: 5px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: -1px -11px 32px -10px rgba(0,0,0,0.75);
}

@media screen and (max-width:768px){

    main, .textarea-input, .mensaje-requisitos{
        display: block;
        width: auto;
    }
    
    .textarea-input{
        min-height: 320px;
        height: auto;
        width: 85%;
    }

    /* .botones, .mensaje-requisitos{
        position: static;
    } */

    .area-input, .area-resultado, .texto-estado, .texto-indicacion, .area-encriptado-elementos{
        width: auto;
    }

    #textarea-encriptado{
        height: 50vh;
    }

    .area-encriptado-elementos img{
        display: none;
    }

    .area-resultado, .area-encriptado-elementos{
        height: auto;
    }

}

@media screen and (max-width:375px){

    .botones, .mensaje-requisitos{
        display: block;
        width: auto;
    }
    
    .boton{
        margin: 8px 0;
    }
    
    .boton-copiar{
        width: auto;
    }

}