*{
    background: #F3F5FC;
    font-family: "Inter", sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0em;
    text-align: left;    
}

h1{
    margin-top: 25px;
    margin-left: 10px;
    width: 15%;
}

main{
    display: flex;
    justify-content: center;
    width: 100%;
}

.area-input{
    width: 50%;
    /* height: 944px; */
    height: 80vh;
    margin: 30px;
    text-align:center;
    background: #F3F5FC;
    display: flex;
    flex-direction: column;
    position: relative;
}


.textarea-input{
    width: 80%;
    height: 70%;
    margin: 20px 0;
    padding: 12px 20px;
    background: #F3F5FC;
    border: none;
    resize: none;
    text-transform: lowercase;
}

h6 img{
    width: 12px;
}


::placeholder {color: #0A3871; }
.textarea-input{
    outline: none;
}

.mensaje-requisitos{
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;    
    color: #495057;
    height: 25px;
    margin: 0px 0;  
    position: absolute;
    bottom: 110px;      
}

.botones{
    display: flex;
    margin: 0;
    width: 100%;
    position: absolute;
    bottom: 40px;
}

.boton{
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #0A3871;
    background-color: #D8DFE8;
    width: 250px;
    height: 67px;
    border: 1px solid #0A3871;
    border-radius: 24px;
    margin: 0 20px;
    cursor: pointer;
}

#boton-Encriptar{
    color: #FFFFFF;
    background-color: #0A3871;
}

.area-resultado{
    width: 35%;
    height: 80vh;
    margin: 30px 30px;
    background: #ffffff;
    border-radius: 32px;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
    text-align:center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.area-encriptado-elementos img{
    margin: 20px 0;
    width: 60%;
}

.area-encriptado-elementos{
    display: flex;
    flex-direction: column;
    align-items: center;   
    justify-content: center;
    height: 100%;
    border-radius: 32px;
}

.texto-estado{
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    width: 75%;
    margin: 5px;
    color:#343A40;
    padding: 12px;    
    
}

.texto-indicacion{
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 80%;
    margin: 5px;
    color:#495057;
    padding: 5px;
}

#textarea-encriptado{
    font-size: 24px;
    line-height: 36px;
    width: 75%;
    height: 70%;
    display: none;
    padding: 12px 20px;
    margin: 20px 20px;    
    background: #ffffff;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    resize: none;
    outline: none;
}

#textarea-encriptado:focus{
    outline: none;
}

.botones-copiar{
    display: flex;
    justify-content: center;
    width: 350px;
    background: #ffffff;
    position: absolute;
    bottom: 40px;    
}

#boton-copiar{
    display: none;
}

.pie-pagina{
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;    

    padding: 5px;
    background-color: #ffffff;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-shadow: -1px -11px 32px -10px rgba(0,0,0,0.75);
}

@media screen and (max-width:768px){

}

@media screen and (max-width:375px){
    
}